.bleu{
    color: blue;
}
h1{
    color: red;
}

body{
    color: rgb(0, 255, 60);
    font-size: 20px;
}

.box{
    height: 100%;
    width: 10%;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: aqua;
}